.center {
  padding-top: 12%;
}

.padding {
  padding: 20px;
}

.button-login {
  margin-top: 3%;
  margin-left: 100%;
}

.invalid-feedback {
  color: red;
  padding-top: 2%;
  margin-left: 10%;
}

.div-padding {
  margin-bottom: 15px;
}

.login-title {
  text-align: center;
  padding-bottom: 7%;
}

.input-login {
  height: 55px;
}
