.showSidebarClass {
  display: none;
  animation-duration: 3s;
}

.footerClass {
  width: 100%;
}

.icono {
  float: right;
  margin-top: 10px;
  margin-right: 12px;
}

body {
  background-color: white;
}
