<div [ngClass]="{'alert alert-danger':!resultOperation,'alert alert-info':resultOperation,'alert-all':true}" *ngIf="displaymessage">
  <strong>Resultado : </strong> {{responsemessage}}
</div>

<div class="create-container">
  <p class="welcome">{{ "vistas.pago.titulo" | translate }}</p>
  <div class="form">
    <form [formGroup]="paymentForm">
      <div class="form-group">
        <label>{{ "vistas.pago.prestamo" | translate }}</label>
        <select id="lendingid" class="form-control" formControlName="lendingid" (change)="onLendingChange($event.target.value)">
          <option value=""></option>
          <option *ngFor="let lending  of lendingsList" value="{{lending.id}}">{{lending.id}}-{{lending.clientid.id}}-{{lending.clientid.name}}</option>
        </select>
        <span class="obligatory-span" *ngIf="paymentForm.controls['lendingid'].hasError('required')">
          <strong>{{ "validation.required_field" | translate }}</strong>
        </span>
      </div>

      <div class="form-group">
        <label>{{ "vistas.cliente.id" | translate }}</label>
        <input id="clientId" type="text" [(ngModel)]="selectedLending.clientid.id" class="form-control" disabled [ngModelOptions]="{standalone: true}" />
        <label>{{ "vistas.cliente.nombre" | translate }}</label>
        <input id="clientname" type="text" [(ngModel)]="selectedLending.clientid.name" class="form-control" disabled [ngModelOptions]="{standalone: true}" />
        <label>{{ "vistas.cliente.telefono" | translate }}</label>
        <input id="clientphone" type="number" [(ngModel)]="selectedLending.clientid.phone" class="form-control" disabled [ngModelOptions]="{standalone: true}" />
        <label>{{ "vistas.cliente.direccion" | translate }}</label>
        <input id="clientaddress" type="text" [(ngModel)]="selectedLending.clientid.address" class="form-control" disabled [ngModelOptions]="{standalone: true}" />
        <label>{{ "vistas.prestamo.valor" | translate }}</label>
        <input id="lendingvalue" type="number" [(ngModel)]="selectedLending.lendingvalue" class="form-control" disabled [ngModelOptions]="{standalone: true}" />
        <label>{{ "vistas.prestamo.fechap" | translate }}</label>
        <input id="lendingdate" type="date" [(ngModel)]="selectedLending.lendingdate" class="form-control" disabled [ngModelOptions]="{standalone: true}" />
      </div>

      <div class="form-group">
        <label>{{ "vistas.pago.valor" | translate }}</label>
        <input id="paymentvalue" type="number" class="form-control" formControlName="paymentvalue" />
        <span class="obligatory-span" *ngIf="paymentForm.controls['paymentvalue'].hasError('required')">
          <strong>{{ "validation.required_field" | translate }}</strong>
        </span>
      </div>

      <button [disabled]="!paymentForm.valid" id="createPaymentButton" class="btn btn-primary" (click)="createPayment()">
        {{ "vistas.registrar" | translate }}
      </button>
    </form>
  </div>
</div>
