<div class="create-container">
  <p class="welcome">Registrar Cliente</p>
  <div class="form">
    <form [formGroup]="clientForm">
      <div class="form-group">
        <label>Cédula</label>
        <input id="identification" type="number" class="form-control" formControlName="identification"/>
        <span *ngIf="clientForm.controls['identification'].hasError('required')">
          <strong>{{ "validation.required_field" | translate }}</strong>
        </span>
      </div>
      <div class="form-group">
        <label>Nombre</label>
        <input id="name" type="text" class="form-control" formControlName="name" />
        <span *ngIf="clientForm.controls['name'].hasError('required')">
          <strong>{{ "validation.required_field" | translate }}</strong>
        </span>
      </div>
      <div class="form-group">
        <label>Fecha de nacimiento</label>
        <input id="birthdate" type="date" class="form-control" formControlName="birthdate" />
        <span *ngIf="clientForm.controls['birthdate'].hasError('required')">
          <strong>{{ "validation.required_field" | translate }}</strong>
        </span>
      </div>
      <div class="form-group">
        <label>Teléfono</label>
        <input id="phone" type="number" class="form-control" formControlName="phone" />
        <span *ngIf="clientForm.controls['phone'].hasError('required')">
          <strong>{{ "validation.required_field" | translate }}</strong>
        </span>
      </div>
      <div class="form-group">
        <label>Dirección</label>
        <input id="address" type="text" class="form-control" formControlName="address" />
        <span *ngIf="clientForm.controls['address'].hasError('required')">
          <strong>{{ "validation.required_field" | translate }}</strong>
        </span>
      </div>
      <button id="createClientButton" class="btn btn-primary" (click)="createClient()">
        Registrar
      </button>      
    </form>
  </div>
</div>
