<div  [ngClass]="{'alert alert-danger':!resultOperation,'alert alert-info':resultOperation,'alert-all':true}" [hidden]="!displaymessage">
  <strong>Resultado : </strong> <span id="alert">{{responsemessage}}</span>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered" style="width:100%;">
    <thead class="text-center">
      <tr>
        <th scope="col">{{ "vistas.cliente.id" | translate }}</th>
        <th scope="col">{{ "vistas.cliente.nombre" | translate }}</th>
        <th scope="col">{{ "vistas.cliente.fechanto" | translate }}</th>
        <th scope="col">{{ "vistas.cliente.direccion" | translate }}</th>
        <th scope="col">{{ "vistas.cliente.telefono" | translate }}</th>
        <th scope="col">{{ "vistas.acciones" | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cliente  of clientsList">
        <td>{{ cliente.id }}</td>
        <td>{{ cliente.name }}</td>
        <td>{{ cliente.birthdate }}</td>
        <td>{{ cliente.address }}</td>
        <td>{{ cliente.phone }}</td>
        <td>
          <button class="btn btn-danger" id="btnEliminar-{{cliente.id}}" (click)="deleteClient(cliente)">{{ "vistas.eliminar" | translate }}</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
