<div [ngClass]="{'alert alert-danger':!resultOperation,'alert alert-info':resultOperation,'alert-all':true}" *ngIf="displaymessage">
  <strong>Resultado : </strong> {{responsemessage}}
</div>

<div class="create-container">
  <p class="welcome">{{ "vistas.cliente.titulo" | translate }}</p>
  <div class="form">
    <form [formGroup]="clientForm">
      <div class="form-group">
        <label>{{ "vistas.cliente.id" | translate }}</label>
        <input id="identification" type="number" class="form-control" formControlName="identification"/>
        <span  class="obligatory-span" *ngIf="clientForm.controls['identification'].hasError('required')">
          <strong>{{ "validation.required_field" | translate }}</strong>
        </span>
      </div>
      <div class="form-group">
        <label>{{ "vistas.cliente.nombre" | translate }}</label>
        <input id="name" type="text" class="form-control" formControlName="name" />
        <span class="obligatory-span" *ngIf="clientForm.controls['name'].hasError('required')">
          <strong>{{ "validation.required_field" | translate }}</strong>
        </span>
      </div>
      <div class="form-group">
        <label>{{ "vistas.cliente.fechanto" | translate }}</label>
        <input id="birthdate" type="date" class="form-control" formControlName="birthdate" />
        <span class="obligatory-span" *ngIf="clientForm.controls['birthdate'].hasError('required')">
          <strong>{{ "validation.required_field" | translate }}</strong>
        </span>
      </div>
      <div class="form-group">
        <label>{{ "vistas.cliente.telefono" | translate }}</label>
        <input id="phone" type="number" class="form-control" formControlName="phone" />
        <span class="obligatory-span" *ngIf="clientForm.controls['phone'].hasError('required')">
          <strong>{{ "validation.required_field" | translate }}</strong>
        </span>
      </div>
      <div class="form-group">
        <label>{{ "vistas.cliente.direccion" | translate }}</label>
        <input id="address" type="text" class="form-control" formControlName="address_a" />
        <span class="obligatory-span" *ngIf="clientForm.controls['address_a'].hasError('required')">
          <strong>{{ "validation.required_field" | translate }}</strong>
        </span>
      </div>
      <button id="createClientButton" class="btn btn-primary" (click)="createClient()">
        {{ "vistas.registrar" | translate }}
      </button>      
    </form>
  </div>
</div>
